{% extends 'base.html' %}

{% block content %}
  <h2>Perfil de {{ user.username }}</h2>
  <div class="row">
    <div class="col-md-4">
      <img src="{{ user.perfil.imagem_perfil.url }}" class="img-fluid rounded-circle" alt="Imagem de perfil de {{ user.username }}">
    </div>
  <p><strong>Nome:</strong> {{ user.first_name }} {{ user.last_name }}</p>
  <p><strong>Formação:</strong> {{ user.perfil.formacao }}</p>
  <p><strong>Afiliações:</strong> {{ user.perfil.afiliacoes }}</p>
  <p><strong>Especialidades:</strong> {{ user.perfil.especialidades }}</p>
  <p><strong>Bio:</strong> {{ user.perfil.bio }}</p>
  <p><strong>Seguidores:</strong> <a href="{% url 'lista_seguidores' user.username %}">{{ user.perfil.total_seguidores }}</a></p>
  <p><strong>Seguindo:</strong> <a href="{% url 'lista_seguindo' user.username %}">{{ user.perfil.total_seguindo }}</a></p>  
  
  
  {% if user != request.user %}
    {% if request.user in user.perfil.seguidores.all %}
      <a href="{% url 'deixar_de_seguir_usuario' user.username %}" class="btn btn-secondary">Deixar de Seguir</a>
    {% else %}
      <a href="{% url 'seguir_usuario' user.username %}" class="btn btn-primary">Seguir</a>
    {% endif %}
  {% else %}
    <p>Este é o seu perfil.</p>
  {% endif %}
{% endblock %}
